<%= form_for @event do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new_event_table">
  <table id="new_event">
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :date %></th>
      <td><%= f.text_field :date %></td>
    </tr>
    <tr>
      <th><%= f.label :time %></th>
      <td><%= f.text_field :time %></td>
    </tr>
    <tr>
      <th><%= f.label :location %></th>
      <td><%= f.text_field :location %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <th><%= f.label :invite %></th>
      <td>
	<%= f.radio_button :invite, 'all', :checked => true %>
        <%= label :status_all, 'All Members' %>
        <%= f.radio_button :invite, 'officers' %>
        <%= label :status_officers, 'Officers Only' %>
      </td>
    </tr>    
  </table>
</div>
<div class="create_button">
	<%= f.submit %>
</div>
<% end %>

