<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
 
<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>
 
<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
<strong>Invited:</strong>
<% @event.members.each do |member| %>
   <%= member.first_name %>
<%end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

