<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> HLGSA event <%= @event.title %> has been updated. </h1>
    <p>
      Updated Event Details:<br>
			Date: <%= @event.date %><br>
			Time: <%= @event.time %><br>
			Location: <%= @event.location %><br>
			Description: <%= @event.description %><br>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>
