<%= form_for @member do |f| %>

  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@member.errors.count, "error") %> prohibited
        this member from being saved:
      </h2>
      <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :uin %><br>
    <%= f.number_field :uin %>
  </p>
 
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
 
  <p>
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </p>
 
  <p>
    <%= f.label :designation %><br>
    <%= f.radio_button :designation, 'member', :checked => true %>
    <%= label :designation_member, 'Member' %>
    <%= f.radio_button :designation, 'officer' %>
    <%= label :designation_officer, 'Officer' %>
  </p>

  <p>
    <%= f.label :paying %><br>
    <%= f.radio_button :paying, 'no', :checked => true %>
    <%= label :paying_no, 'No' %>
    <%= f.radio_button :paying, 'yes' %>
    <%= label :paying_yes, 'Yes' %>
  </p>

  <p>
    <%= f.label :status %><br>
    <%= f.radio_button :status, 'student', :checked => true %>
    <%= label :status_student, 'Student' %>
    <%= f.radio_button :status, 'graduated' %>
    <%= label :status_graduated, 'Graduated' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

